@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  height: 100%;
}

@layer base {
  h1 {
    @apply font-manrope lg:text-4xl md:text-3xl   dark:text-white text-2xl font-bold  leading-normal;
  }
  h2 {
    @apply font-manrope lg:text-3xl md:text-2xl  dark:text-white  text-xl font-bold  leading-normal;
  }
  h3 {
    @apply font-manrope lg:text-2xl md:text-xl  dark:text-white  text-lg font-bold  leading-normal;
  }
  h4 {
    @apply font-manrope lg:text-xl  md:text-lg dark:text-white  text-base font-bold  leading-normal;
  }
  h5 {
    @apply font-manrope lg:text-lg  md:text-base dark:text-white  text-sm font-bold  leading-snug;
  }
  h6 {
    @apply font-manrope lg:text-base md:text-sm  dark:text-white  text-xs font-bold  leading-snug;
  }

  p,
  span,
  div {
    @apply font-sarabun dark:text-white lg:text-base md:text-sm text-xs leading-tight;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center flex-wrap;
  }

  .poi {
    @apply cursor-pointer;
  }
}

@layer utilities {
  /* for h1 h2 h3.. font */
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }

  .font-sarabun {
    font-family: "Sarabun", sans-serif;
  }
}

   .progress-bar {
     background-color: #ccc;
     height: 10px;
     cursor: pointer;
   }

   .progress-bar-fill {
     background-color: #007bff;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     color: white;
   }